<?xml version = '1.0' encoding = 'UTF-8'?>
<configuration>
  <include resource = 'org/springframework/boot/logging/logback/defaults.xml'/>
  <include resource = 'org/springframework/boot/logging/logback/console-appender.xml'/>

  <appender name = 'BAT_LOGGER' class = 'lonter.bat.BatLogger'/>

  <root level = 'INFO'>
    <appender-ref ref = 'CONSOLE'/>
    <appender-ref ref = 'BAT_LOGGER'/>
  </root>
</configuration>